# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Qt ignore
build-*/
*.user
*.user.*
*.Debug
*.Release
Makefile*
*.o
*.obj
moc_*.cpp
ui_*.h
qrc_*.cpp

# Qt qmake 临时文件
.qmake.stash
.qmake.cache

.qtcreator
.qtc_clangd/
.clang/

# 编译输出目录（再确认一遍）
build/
build-*/